@using eReservation.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<div class="btn-group-vertical w-100">
    <a class="btn btn-secondary @ManageNavPages.IndexNavClass(ViewContext)" asp-action="Index">Profil</a>
    <a class="btn btn-secondary @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-action="ChangePassword">Hasło</a>
    @if (hasExternalLogins)
    {
        <a class="btn btn-secondary @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-action="ExternalLogins">Loginy zew.</a>
    }
    <a class="btn btn-secondary @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-action="TwoFactorAuthentication">Dwustopniowa autoryzacja</a>
</div>

