@{
    ViewData["Title"] = "Potwierdzanie poczty";
}


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <p>
                        Dziękujemy za potwierdzenie poczty.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
