  <header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>@ViewData["Title"]</h1>
                @{
                    if (@ViewData["SubTitle"] != null)
                    {
                        <p>@ViewData["SubTitle"]</p>
                    }
                }
            </div>
        </div>
    </div>
</header>
