$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px;

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: $bg-color;
    color: $font-color;
}

.background {
    background: url('../images/home.jpeg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

